*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    height: 100%;
    width: 100%;
   background-color: #98EECC;
}
.navbar-brand{
    padding-top: 30px;
}
.nav-item{
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 25px;
}
.nav-link{
    color: white !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link:hover{
    color: aqua;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container.content{
    text-align: center;
}
.container.content h3{
    font-size: 30px;
    color: pink;
}
.container.content h3 span{
    background-color: #98EECC;
    color: antiquewhite;
    border-radius: 5px;
}
.container.content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: pink;
    color: antiquewhite;
    margin: 0 5px;
}
.container.content .btn:hover{
    background-color: #98EECC;
}
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background-color: #EEEEEE;
}
.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
background: #C2DEDC;
text-align: center;
}

.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
}
.form-container form input{
    width:70% ;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #EEEEEE;
    border-radius: 5px;
}
.form-container form select option{
    background: white;
}
.form-container form .form-btn{
    background: #c1e1ec;
    color:black;
    font-size: 20px;
    cursor: pointer;
}
.form-container form .form-btn:hover{
    background: pink;
    color: aliceblue;
}
.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: beige;
}
.form-container form p a{
    color:#98EECC;
}
.form-container form .error-msg{
    
}










